<html ng-app="Codeyard">
<head>
<title>Real-Time Codeyard</title>
<link rel="stylesheet" href="aggregate.css"/> 
<script src="aggregate.js"></script>
</head>
<body>
<section data-ng-controller="EditorController">
	<div class="row" data-ng-init="init()">
	<div class="col-md-2">
       <h3>Team</h3>
       <div id="userlist"></div>
	</div>
	<div class="col-md-7">
	    <h3>{{file}}</h3>
        <div id="firepad"></div>
	</div>
    <div class="col-md-3">
    	<h3>Discuss</h3>
    	<div class="chatbox"></div>
    	<div class="form-inline">
            <div class="form-group">
        	    <input type="text" class="form-control">
        	    <button class="btn btn-default">Send</button>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>

